.overallContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 10vw;
}

.heroSection {
  display: flex;
  flex-direction: column;
  position: relative;
}
.heroTitle {
  position: relative;
  font-size: 200px;
  color: var(--color-primary-base);
  margin-block-end: -20px;
  margin-block-start: -70px;
}
.heroSubtitle {
  position: relative;
  margin-inline-start: 22px;
  font-size: 49px;
  color: var(--color-mono-base);
}

.loginSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}
.form {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.formFieldList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.fieldContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fieldContainer.required > label::before {
  position: absolute;
  content: '*';
  left: -12px;
  font-size: var(--font-size-regular);
  color: var(--color-red-base);
}
.fieldContainer > label {
  font-size: var(--font-size-regular);
}
.fieldContainer > input {
  font-size: calc(var(--font-size-regular) - 1px);
}
.fieldContainer > input.valid {
  border-color: transparent transparent var(--color-ok-base) transparent;
}
.fieldContainer > input.invalid {
  border-color: transparent transparent var(--color-error-base) transparent;
}
.errorMessage {
  color: var(--color-error-light);
  font-size: var(--font-size-small);
}
.loginButton {
  width: 100%;
}

@media (max-width: 1000px) {
  .overallContainer {
    flex-direction: column;
    gap: 60px;
  }
  .heroSection {
    flex-direction: column;
  }
  .heroTitle {
    font-size: 120px;
    margin-block-end: -20px;
    margin-block-start: unset;
  }
  .heroSubtitle {
    font-size: 30px;
    margin-inline-start: 12px;
  }
}

@media (max-width: 550px) {
  .loginSection {
    width: 80%;
  }
}